.you-tube-wrapper {
  display: contents;
}
 
.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}

.you-tube-wrapper-i1oa {
  display: contents;
}
 
.you-tube-you-tube1 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image1 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube1 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image1 {
    width: 80px;
  }
}

.you-tube-wrapper-32qm {
  display: contents;
}
 
.you-tube-you-tube2 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image2 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube2 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image2 {
    width: 80px;
  }
}

.you-tube-wrapper-i39w {
  display: contents;
}
 
.you-tube-you-tube3 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image3 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube3 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image3 {
    width: 80px;
  }
}

.you-tube-wrapper-2d46 {
  display: contents;
}
 
.you-tube-you-tube4 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image4 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube4 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image4 {
    width: 80px;
  }
}

.you-tube-wrapper-j3fc {
  display: contents;
}
 
.you-tube-you-tube5 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image5 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube5 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image5 {
    width: 80px;
  }
}

.you-tube-wrapper-vwh2 {
  display: contents;
}
 
.you-tube-you-tube6 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image6 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube6 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image6 {
    width: 80px;
  }
}

.you-tube-wrapper-uaqh {
  display: contents;
}
 
.you-tube-you-tube7 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image7 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube7 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image7 {
    width: 80px;
  }
}

.you-tube-wrapper-rakc {
  display: contents;
}
 
.you-tube-you-tube8 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image8 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube8 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image8 {
    width: 80px;
  }
}

.you-tube-wrapper-di8h {
  display: contents;
}
 
.you-tube-you-tube9 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image9 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube9 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image9 {
    width: 80px;
  }
}

.you-tube-wrapper-cfn7 {
  display: contents;
}
 
.you-tube-you-tube10 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image10 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube10 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image10 {
    width: 80px;
  }
}

.you-tube-wrapper-nah1 {
  display: contents;
}
 
.you-tube-you-tube11 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image11 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube11 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image11 {
    width: 80px;
  }
}

.you-tube-wrapper-92ft {
  display: contents;
}
 
.you-tube-you-tube12 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image12 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube12 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image12 {
    width: 80px;
  }
}

.you-tube-wrapper-mrct {
  display: contents;
}
 
.you-tube-you-tube13 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image13 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-you-tube13 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image13 {
    width: 80px;
  }
}

.career-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
 
.career-hero {
  width: 100%;
  height: 866px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
 
.career-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.career-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.career-logo1 {
  width: 64px;
}
 
.career-links1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
 
.career-close-mobile-menu {
  top: var(--dl-layout-space-oneandhalfunits);
  right: var(--dl-layout-space-oneandhalfunits);
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.career-icon1 {
  width: 24px;
  height: 24px;
  display: flex;
}
 
.career-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.career-centered {
  width: 100%;
  height: 65px;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
 
.career-left1 {
  height: 87px;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
 
.career-navlink10 {
  display: contents;
}
 
.career-logo2 {
  width: 49px;
  height: 41px;
  margin-left: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.career-links2 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
 
.career-navlink11 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink12 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink13 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink14 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink15 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink16 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-navlink17 {
  font-weight: bold;
  text-decoration: none;
}
 
.career-right1 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.career-link1 {
  display: contents;
}
 
.career-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: #000000;
}
 
.career-get-started:hover {
  background-color: #5228F5;
}
 
.career-text103 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
 
.career-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.career-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
 
.career-container3 {
  display: contents;
}
 
.career-image {
  width: 749px;
  height: 758px;
  align-self: flex-end;
  object-fit: cover;
}
 
.career-text104 {
  top: 215px;
  left: 384px;
  color: #000000;
  position: absolute;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}
 
.career-text112 {
  top: 618px;
  left: 389px;
  color: #000000;
  position: absolute;
  font-size: 20px;
  line-height: 30px;
}
 
.career-features {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  padding-top: 12px;
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  background-color: EFF0F2;
}
 
.career-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.career-text116 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
 
.career-text117 {
  font-size: 20px;
  line-height: 30px;
}
 
.career-banners {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.career-banner-manage {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.career-container4 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.career-left2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.career-text119 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.career-image-container1 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.career-cards-image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
 
.career-banner-advanced-analytics1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.career-centered-container1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
 
.career-image-container2 {
  flex: 1;
  display: flex;
}
 
.career-cards-image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.career-right2 {
  flex: 1;
  display: flex;
  margin-left: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.career-category1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-text145 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.career-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.career-container5 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.career-left3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.career-text169 {
  color: rgb(82, 40, 245);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
}
 
.career-text170 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.career-image-container3 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.career-cards-image3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.career-banner-advanced-analytics2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.career-centered-container2 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
 
.career-image-container4 {
  flex: 1;
  display: flex;
}
 
.career-cards-image4 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.career-right3 {
  flex: 1;
  display: flex;
  margin-left: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.career-category2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.career-text196 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.career-integrations {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-sevenunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #EFF0F2;
}
 
.career-centered-container3 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.career-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.career-pills-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.career-pills1 {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-layout-space-twounits);
  flex-wrap: wrap;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.career-container6 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
 
.career-container7 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
 
.career-pills2 {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-layout-space-twounits);
  flex-wrap: wrap;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.career-container8 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
 
.career-container9 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
 
.career-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sevenunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sevenunits);
  background-color: #000000;
}
 
.career-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.career-left4 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.career-text222 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.career-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 50px;
  margin-bottom: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
  background-color: #ffffff;
}
 
.career-textinput {
  width: 60%;
  outline: none;
  font-size: 14px;
  border-width: 0px;
}
 
.career-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #5228F5;
}
 
.career-subscribe:hover {
  background-color: #000;
}
 
.career-text223 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
 
.career-text224 {
  color: #686868;
  font-size: 14px;
}
 
.career-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-text225 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.career-link2 {
  color: #C4C4C4;
  font-size: 14px;
  text-decoration: underline;
}
 
.career-right4 {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.career-category3 {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.career-text226 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.career-links3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-navlink18 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}
 
.career-navlink19 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-navlink20 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-navlink21 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-navlink22 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-category4 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-text227 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.career-links4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-navlink23 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-text228 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
 
.career-category5 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
 
.career-text229 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.career-links5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.career-link3 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-link4 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-link5 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-link6 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
 
.career-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
 
.career-branding {
  width: 447px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 58px;
  margin-bottom: 1px;
}
 
.career-text230 {
  color: #686868;
  font-size: 14px;
  line-height: 30px;
}
 
@media(max-width: 1600px) {
  .career-hero {
    height: 866px;
  }
  .career-logo2 {
    width: 43px;
  }
  .career-navlink12 {
    font-weight: bold;
    text-decoration: none;
  }
  .career-navlink14 {
    font-weight: bold;
  }
  .career-navlink15 {
    font-weight: bold;
    text-decoration: none;
  }
  .career-navlink16 {
    font-weight: bold;
  }
  .career-image {
    width: 780px;
    height: 832px;
    align-self: flex-end;
  }
  .career-text104 {
    top: 219px;
    left: 253px;
    color: #000000;
    font-family: Alata;
  }
  .career-text112 {
    top: 602px;
    left: 263px;
  }
  .career-features {
    position: relative;
    padding-top: 0px;
  }
  .career-title {
    position: relative;
  }
  .career-text116 {
    font-size: 56px;
    font-style: normal;
    font-family: Alata;
    font-weight: 700;
    line-height: 72px;
  }
  .career-text118 {
    font-size: 30px;
    font-family: Alata;
  }
  .career-text119 {
    color: rgb(0, 0, 0);
    line-height: 24px;
  }
  .career-text123 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text127 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text131 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text135 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text139 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text144 {
    font-size: 30px;
    font-family: Alata;
  }
  .career-text151 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text154 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text158 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text162 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text163 {
    font-family: Alata;
  }
  .career-text169 {
    color: rgb(82, 40, 245);
    font-size: 30px;
    font-style: normal;
    font-family: Alata;
    font-weight: 600;
  }
  .career-text171 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text176 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text180 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text184 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text188 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text194 {
    font-size: 30px;
    font-family: Alata;
  }
  .career-text197 {
    font-family: Alata;
  }
  .career-text202 {
    font-style: italic;
    font-weight: 700;
  }
  .career-text206 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text207 {
    font-style: italic;
    font-weight: 700;
  }
  .career-text211 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text214 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
  .career-text215 {
    font-style: italic;
    font-family: Alata;
    font-weight: 700;
  }
}
 
@media(max-width: 1200px) {
  .career-hero {
    height: 599px;
  }
  .career-right1 {
    height: 100%;
  }
  .career-get-started {
    width: 103px;
    height: 69px;
  }
  .career-text103 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
  }
  .career-image {
    width: 483px;
    height: 552px;
    align-self: flex-end;
  }
  .career-text104 {
    top: 165px;
    left: 105px;
    color: rgb(255, 255, 255);
    width: 667px;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  .career-text112 {
    top: 524px;
    left: 103px;
  }
  .career-features {
    padding-top: 0px;
  }
  .career-text116 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }
  .career-link2 {
    color: rgb(196, 196, 196);
    font-size: 14px;
    text-decoration: underline;
  }
  .career-text226 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .career-navlink18 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-navlink19 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-navlink20 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-navlink21 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-navlink22 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-text227 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .career-text229 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .career-link3 {
    color: rgb(196, 196, 196);
    font-size: 14px;
    text-decoration: none;
  }
  .career-link4 {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }
  .career-branding {
    width: 522px;
    z-index: 100;
  }
  .career-text230 {
    color: rgb(104, 104, 104);
    font-size: 14px;
    line-height: 30px;
  }
}
 
@media(max-width: 991px) {
  .career-hero {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .career-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .career-desktop-navigation {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .career-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .career-left1 {
    margin-left: var(--dl-layout-space-halfunit);
  }
  .career-logo2 {
    width: 51px;
    margin-left: 0px;
  }
  .career-links2 {
    display: none;
  }
  .career-get-started {
    display: none;
  }
  .career-mobile-menu-button {
    display: flex;
  }
  .career-text104 {
    top: 141px;
    left: 67px;
    width: 663px;
    height: 360px;
  }
  .career-features {
    padding-top: 260px;
  }
  .career-title {
    width: 100%;
    max-width: 1200px;
  }
  .career-text116 {
    font-size: 36px;
    line-height: 40px;
  }
  .career-text117 {
    font-size: 20px;
    margin-top: var(--dl-layout-space-unit);
    line-height: 30px;
  }
  .career-banner-manage {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .career-left2 {
    margin-right: var(--dl-layout-space-threeunits);
  }
  .career-cards-image1 {
    width: 360px;
  }
  .career-banner-advanced-analytics1 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .career-banner-advanced-analytics2 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .career-container7 {
    margin-left: 0px;
  }
  .career-container9 {
    margin-left: 0px;
  }
  .career-footer {
    padding: var(--dl-layout-space-sixunits);
  }
  .career-top {
    flex-direction: column;
  }
  .career-left4 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .career-text224 {
    color: rgb(104, 104, 104);
    font-size: 14px;
  }
  .career-text225 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .career-link2 {
    text-decoration: underline none;
  }
  .career-right4 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .career-links3 {
    gap: var(--dl-layout-space-unit);
  }
  .career-links4 {
    gap: var(--dl-layout-space-unit);
  }
  .career-links5 {
    gap: var(--dl-layout-space-unit);
  }
  .career-branding {
    width: 50%;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .career-text230 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .career-hero {
    height: 438px;
    position: relative;
    padding-bottom: var(--dl-layout-space-unit);
    background-color: var(--dl-color-template-blue-bg);
  }
  .career-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .career-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .career-left1 {
    margin-left: var(--dl-layout-space-unit);
  }
  .career-right1 {
    margin-right: var(--dl-layout-space-unit);
  }
  .career-get-started {
    display: none;
  }
  .career-image {
    width: 307px;
    height: 340px;
  }
  .career-text104 {
    color: rgb(255, 255, 255);
    width: 289px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .career-text112 {
    top: 353px;
    left: 60px;
    color: rgb(238, 233, 254);
    margin: auto;
    font-size: 16px;
    font-style: normal;
    margin-top: var(--dl-layout-space-unit);
    text-align: center;
    font-weight: 500;
    line-height: 24px;
  }
  .career-features {
    padding-top: 29px;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .career-text116 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .career-banner-manage {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .career-container4 {
    flex-direction: column;
  }
  .career-left2 {
    margin-right: 0px;
  }
  .career-text119 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .career-image-container1 {
    justify-content: center;
  }
  .career-cards-image1 {
    margin-top: var(--dl-layout-space-threeunits);
  }
  .career-banner-advanced-analytics1 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .career-centered-container1 {
    flex-direction: column-reverse;
  }
  .career-right2 {
    margin-left: 0px;
  }
  .career-text145 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .career-banner {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .career-container5 {
    flex-direction: column;
  }
  .career-left3 {
    margin-right: 0px;
  }
  .career-banner-advanced-analytics2 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .career-centered-container2 {
    flex-direction: column-reverse;
  }
  .career-right3 {
    margin-left: 0px;
  }
  .career-text196 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .career-integrations {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .career-pills1 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .career-pills2 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .career-footer {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .career-hero {
    height: 423px;
    padding-bottom: 4px;
  }
  .career-logo1 {
    margin-left: 0px;
  }
  .career-icon1 {
    align-items: center;
    justify-content: center;
  }
  .career-logo2 {
    width: 49px;
  }
  .career-image {
    width: 186px;
    height: 214px;
  }
  .career-text104 {
    top: 169px;
    left: 33px;
    width: 241px;
  }
  .career-text112 {
    top: 366px;
    color: rgb(238, 233, 254);
    right: 86px;
  }
  .career-features {
    padding-top: var(--dl-layout-space-unit);
  }
  .career-text119 {
    line-height: 24px;
  }
  .career-cards-image1 {
    width: 100%;
    margin-top: var(--dl-layout-space-twounits);
  }
  .career-footer {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .career-subscription {
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .career-branding {
    width: 315px;
    margin-bottom: 0px;
  }
}
